apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: brahimbtf/pay-service:1.0
          ports:
            - containerPort: 8083
          envFrom:
            - configMapRef:
                name: pay-service-config
            - secretRef:
                name: pay-service-secret
