apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: security-service
  template:
    metadata:
      labels:
        app: security-service
    spec:
      containers:
        - name: security-service
          image: brahimbtf/security-service
          ports:
            - containerPort: 8084
          envFrom:
            - configMapRef:
                name: security-service-config
            - secretRef:
                name: security-service-secret
